body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


header {
    background-color: #092bc4;
    padding: 20px;
    text-align: center;
    color: white;
}

section {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.bienvenida-texto {
    max-width: 600px;
    text-align: center;
    color: #333;
}

.servicios {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-left: 100px;
}


.servicio {
    max-width: 210px;
    margin: 3px;
    padding: 20px;
    border: 10px solid #1398d6;
    border-radius: 8px;
}


.servicio img {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor…